.box{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 15rem;
    background-color: #192A32;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: -1;
}

.box h1{
    margin: 1rem 0;
}